<div class="container">
  <div class="row  justify-content-around mb-4">
    <%Moto.all.last(3).each do |moto| %>
      <%=link_to moto_path(moto), class: "card-trip col-4 m-2 pt-2 text-decoration-none text-dark" do %>
          <%= image_tag moto.photo , style:"height: 280px" %>
          <div class="card-trip-infos">
            <div>
              <h2><%= moto.model %></h2>
              <p><%= moto.brand %></p>
            </div>
            <h2 class="card-trip-pricing"><%= moto.price.to_i %>€/jour</h2>

            <%= image_tag moto.user.photo, class: "card-trip-user avatar-bordered" %>
          </div>
      <%end %>
    <%end %>
  </div>
</div>
