<!DOCTYPE html>
<html>
  <head>
    <title>Road2wheels</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="shortcut icon" href="/assets/favicon.png" />

  </head>

  <body>
    <%= render './shared/navbar' %>
    <div style="min-height:80vh">

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <footer>
      <%= render partial: "shared/footer"  %>
    </footer>
  </body>
</html>
