<div class="container">
  <h2 class="text-center" style="margin-top: 16px">Toutes nos motos</h2>
  <%= link_to "<Retour", root_path, class: "text-secondary text-decoration-none my-2" %>
  <div class="row justify-content-between">
    <%@motos.each do |moto| %>
      <div class="card col-4 mt-5 position-relative" style="width: 24rem; ">
        <%= image_tag moto.photo, alt: moto.brand, class:"card-img-top mt-2", style:"height: 250px" %>
        <div class="card-body">
          <h5 class="card-title w-100 text-decoration-none"><%= moto.brand %></h5>
          <h3 class="card-text"><%= moto.model %></h3>
          <h3 class="card-text"><%= moto.address %></h3>
          <h5 class="card-price position-absolute bottom-0 end-0 mx-2 "><%= moto.price.to_i%>€/jour</h5>

          <a class="stretched-link" href="/motos/<%= moto.id %>"></a>
          <%# <%= link_to moto_path(moto), class: "" %>
          <%# <%= link_to "Détails de l'offre", moto_path(moto),class: "btn btn-info w-100" %>
          <%# <%= link_to "Edit", edit_moto_path(moto),class: "btn btn-primary" %>
          <%# <%= link_to "Delete", moto_path(moto), method: :delete, data: { confirm: "Are you sure you want to remove #{moto.brand}"},class: "btn btn-danger" %>
        </div>
      </div>
    <%end %>
  </div>
  <br>
    <%= link_to "Créer une offre", new_moto_path, class: "btn" %>
  <br>
</div>
