<div class="container">
  <h1>Louez votre 2 roues</h1>
  <%= simple_form_for(@moto) do |f| %>
    <%= f.input :brand, placeholder: 'example : Honda', label: 'Marque' %>
    <%= f.input :model, placeholder: 'example : CBF', label: 'Modèle' %>
    <%= f.input :cylinder, placeholder: '650', label: 'Cylindre' %>
    <%= f.input :price, placeholder: 'example : 60.50', label: 'Prix/jour' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Créer', class: "btn"%>
  <% end %>
</div>
