
<div class="card-product">
    <%= image_tag @moto.photo, alt: @moto.brand %>

  <div class="card-product-infos">
    <h2>Marque : <%= @moto.brand%></h2>
      <h2>Modéle : <%= @moto.model %></h2>
        <h2>Modéle : <%= @moto.cylinder %></h2>
          <h2>Prix :<%= @moto.price %>€/jour</h2>


    <p> Louez ma moto elle est géniale !</p>

  <div>
  <h2>Propriétaire : <%= @moto.user.first_name %></h2>
    <h2>Localisation : <%= @moto.user.address %></h2>
  <h2>Propriétaire : <%= @moto.user.photo %></h2>
  </div>

    <p><%= link_to "Voir toutes nos offres", motos_path %></p>


  </div>
</div>
